<div class="container">
  <div class="page-header">
    <h1><%= @plan.title %></h1>
    <h2><%= @plan.description %></h2>
  </div>
  <% @plan.days.each do |arr| %>
      <li class="ui-state-default"><%= arr.title %></li>
  <% end %>

  <%= link_to pdf_path @plan do %>
    <button>PDF</button>
  <% end %>
  <form action="<%= plan_clone_path %>" method="POST">
    <input type="hidden" name="id" value="<%= @plan.id %>">
    <input type="submit" value="clone">
    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  </form>
</div>
