<div class="container" id="opinion-page">
  <div class="page-header">
    <% if flash[:notice] %>
      <div class="alert alert-success alert-dismissable"><button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button><%= h(flash[:notice]) %></div>
    <% end %>
    <h1>ご意見版</h1>
    <p>実装して欲しい機能やコメントなど、なんでもご投稿ください</p>
  </div>
  <%= form_for(@new_opinion) do |f| %>
    <%= f.text_field :title,   class: 'form-control', placeholder: 'タイトル',   required: true %>
    <%= f.text_area  :comment, class: 'form-control', placeholder: '意見や要望', required: true %>
    <%= f.submit     :comment, class: 'btn btn-primary' %>
  <% end %>
  <% @opinions.reverse.each do |opinion| %>
    <div class="opinion-list">
      <h4><%= opinion[:title] %></h4>
      <%= simple_format(opinion[:comment], class: "opinion-comment") %>
      <p class="opinion-date">作成日:<%= opinion.created_at.strftime('%Y/%m/%d %H:%M') %></p>
      <% if @ids.blank? then %>
        <button class="btn btn-primary" style="float: right;" name="<%= opinion[:id] %>" value="<%= opinion[:id] %>">iine!
          <span class="badge"><%= opinion[:likes] %></span>
        </button>
      <% else %>
        <% if @ids.include?(opinion[:id].to_s) then %>
          <button class="btn btn-primary disabled" style="float: right;" name="<%= opinion[:id] %>" value="<%= opinion[:id] %>">iine!
            <span class="badge"><%= opinion[:likes] %></span>
          </button>
        <% else %>
          <button class="btn btn-primary" style="float: right;" name="<%= opinion[:id] %>" value="<%= opinion[:id] %>">iine!
            <span class="badge"><%= opinion[:likes] %></span>
          </button>
        <% end %>
      <% end %>
    </div>
  <% end %>
</div>
