<div id="plan-list">
  <div class="navbar-fixed-top">
    <div class="container">
      <form class="form-inline" id="saveplan" method="POST">
        <div class="row">
          <div class="col-xs-7 col-sm-9 col-md-10 col-lg-10">
            <label class="sr-only">プランタイトル</label><!-- non-display -->
            <input type="input" name="plan-title" class="form-control input-lg" placeholder="プランタイトル" required>
            <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
          </div>
          <div class="col-xs-5 col-sm-3 col-md-2 col-lg-2">
            <button type="submit" class="btn btn-default btn-lg">プラン保存</button>
          </div>
        </div><!-- .row -->
    </div><!-- .container -->
  </div> <!-- .navbar-fixed-top -->
  <div class="container">
    <div class="contents">
      <div class="row">
        <div class="col-sm-6">
          <div class="plan-detail">
            <textarea name="plan-desc" class="form-control" id="exampleInput" placeholder="プランの説明（場所、時間、予算等）"></textarea>
            <ol id="main-card-sortable" class="droptrue">
              <li class="ui-state-default"><span class="title">ホーム</span><button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button></li
            </ol>
          </div><!-- .plan-detail -->
          </form><!--form id="saveplan" -->

          <div id="planpost">
            <form action="<%= newplan_path %>" id="addplan" method="POST">
              <div class="row">
                <div class="col-sm-10">
                  <input type="input" name="keyword" class="form-control" placeholder="目的地" required>
                </div>
                <div class="col-sm-2">
                  <input type="submit" class="btn btn-default" value="追加">
                  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
                </div>
              </div><!-- .row -->
            </form><!-- #addplan -->
          </div><!-- #planpost -->
          </div><!-- .col-sm-6 -->
          <div class="col-sm-6" id="card-serch">
            <div class="travel-serch">
              <ul class="nav nav-tabs">
              <li class="active"><a href="#hotel" data-toggle="tab">ホテル検索</a></li>
              <li><a href="#place" data-toggle="tab">観光地</a></li>
              <li><a href="#tag" data-toggle="tab">タグ</a></li>
              </ul>
              <div class="tab-content" style="margin-top:10px">
                <div class="tab-pane active" id="hotel">
                  <form action="<%= newplan_path %>" id="search-hotel" method="POST">
                    <div class="row">
                      <div class="col-sm-10">
                        <input type="input" name="keyword" class="form-control" placeholder="地域、ホテル名" required>
                      </div>
                      <div class="col-sm-2">
                        <input type="submit" class="btn btn-default" value="検索">
                        <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
                      </div>
                    </div><!-- .row -->
                  </form><!-- search-hotel -->
                  <ol id="hotel-card-sortable"  class="droptrue">
                  </ol>
                </div><!-- .tab-pane -->
                <div class="tab-pane" id="place">観光地を選ぶことができる予定です。</div>
                <div class="tab-pane" id="tag">タグの選択ができる予定です。</div>
              </div><!-- tab-content -->
            </div><!-- travel-serch -->
          </div><!-- .col-sm-6 -->
        </div><!-- .row -->
      </div><!-- contents -->
    </div><!-- container -->
</div><!-- #plan-list -->

