<div id="plan-list">

  <div class="navbar-fixed-top">
    <!-- left side  plan_save, plan_title-->
    <div class="container">
      <form class="form-inline" id="saveplan" method="POST">
        <div class="row">
          <div class="col-xs-4 col-sm-3 col-md-2 col-lg-2">
            <button type="submit" class="btn btn-default btn-lg">プラン保存</button>
          </div>
          <!-- <div class="col-xs-8 col-sm-9 col-md-10 col-lg-10">-->
          <div class="col-xs-6 col-sm-7 col-md-7 col-lg-7">
            <label class="sr-only">プランタイトル</label><!-- non-display -->
            <% if @plan.nil? then %>
              <input type="input" name="plan-title" class="form-control input-lg" placeholder="プランタイトル" required>
            <% else %>
              <input type="input" name="plan-title" class="form-control input-lg" value=<%= @plan['title'] %> required>
            <% end %>
            <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
          </div>
          <div type="hidden" class="col-xs-2 col-sm-2 col-md-3 col-lg-3">
            <span class="label label-default">沖縄</span>
            <span class="label label-default">東京</span>
          </div>
        </div><!-- .row -->
      </div><!-- .container -->
    </div> <!-- .navbar-fixed-top -->

    <!-- right side  tag list -->
    <div class="container">
      <div class="contents">
        <div class="row">
          <div class="col-sm-6">
            <div class="plan-detail">
              <% if @plan.nil? then %>
                <textarea name="plan-desc" class="form-control" id="exampleInput" placeholder="プランの説明（場所、時間、予算等）"></textarea>
              <% else %>
                <textarea name="plan-desc" class="form-control" id="exampleInput" placeholder="プランの説明（場所、時間、予算等）"><%= @plan['description'] %></textarea>
              <% end %>
              <ol id="main-card-sortable" class="droptrue">
                <% if @plan.nil? then %>
                  <li class="ui-state-default"><span class="title">ホーム</span><button type="button" class="close" data-dismiss="alert" aria-hidden="true">x</button></li>
                <% else %>
                  <% @plan[:days].each do |item| %>
                    <li class="ui-state-default"><span class="title"><%= item['title'] %></span><button type="button" class="close" data-dismiss="alert" aria-hidden="true">x</button></li>
                  <% end %>
                <% end %>
              </ol>
            </div><!-- .plan-detail -->
        <textarea name="plan-desc" class="form-control" id="exampleInput" placeholder="プランの説明（場所、時間、予算等）"></textarea>
    </div><!-- .container -->
  </div> <!-- .navbar-fixed-top -->


  <div class="container">
    <div class="contents">
      <!-- left side card_list-->
      <div class="row">
        <div class="col-sm-6">
          <div class="plan-detail">
            <ol id="main-card-sortable" class="droptrue">
              <li class="ui-state-default"><span class="title">ホーム</span><button type="button" class="close" data-dismiss="alert" aria-hidden="true">x</button></li>
            </ol>
          </div><!-- .plan-detail -->
          </form><!--form id="saveplan" -->
          <div id="planpost">
            <form action="<%= plan_add_path %>" id="addplan" method="POST">
              <div class="row">
                <div class="col-sm-10">
                  <input type="input" name="keyword" class="form-control" placeholder="目的地" required>
                </div>
                <div class="col-sm-2">
                  <input type="submit" class="btn btn-default" value="追加">
                  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
                </div>
              </div><!-- .row -->
            </form><!-- #addplan -->
          </div><!-- #planpost -->
        </div><!-- .col-sm-6 -->

        <div class="col-sm-6" id="card-serch">
          <div class="travel-serch">
            <ul class="nav nav-tabs">
              <li class="active"><a href="#hotel" data-toggle="tab">ホテル検索</a></li>
              <li><a href="#place" data-toggle="tab">観光地</a></li>
              <li><a href="#tag" data-toggle="tab">タグ</a></li>
            </ul>
            <div class="tab-content" style="margin-top:10px">
              <div class="tab-pane active" id="hotel">
                <form action="<%= plan_search_hotel_path %>" id="search-hotel" method="POST">
                  <div class="row">
                    <div class="col-sm-10">
                      <input type="input" name="keyword" class="form-control" placeholder="地域、ホテル名" required>
                    </div>
                    <div class="col-sm-2">
                      <input type="submit" class="btn btn-default" value="検索">
                      <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
                    </div>
                  </div><!-- .row -->
                </form><!-- search-hotel -->
                <ol id="hotel-card-sortable"  class="droptrue">
                </ol>
              </div><!-- .tab-pane -->

              <div class="tab-pane" id="place">観光地を選ぶことができる予定です。</div>

              <div class="tab-pane" id="tag">
                <div class="btn-group" data-toggle="buttons">
                  <label class="btn btn-primary">
                    <input type="checkbox"> 北海道
                  </label>
                  <label class="btn btn-primary">
                    <input type="checkbox"> 青森県
                  </label>
                  <label class="btn btn-primary">
                    <input type="checkbox"> 岩手県
                  </label>
                  <label class="btn btn-primary">
                    <input type="checkbox"> 宮城県
                  </label>
                  <label class="btn btn-primary">
                    <input type="checkbox"> 秋田県
                  </label>
                  <label class="btn btn-primary">
                    <input type="checkbox"> 山形県
                  </label>
                  <label class="btn btn-primary">
                    <input type="checkbox"> 福島県
                  </label>
                  <label class="btn btn-primary">
                    <input type="checkbox"> 茨城県
                  </label>
                  <label class="btn btn-primary">
                    <input type="checkbox"> 茨城県
                  </label>
                  <label class="btn btn-primary">
                    <input type="checkbox"> 群馬県
                  </label>
                  <label class="btn btn-primary">
                    <input type="checkbox"> 埼玉県
                  </label>
                  <label class="btn btn-primary">
                    <input type="checkbox"> 千葉県
                  </label>
                  <label class="btn btn-primary">
                    <input type="checkbox"> 東京都
                  </label>
                  <label class="btn btn-primary">
                    <input type="checkbox"> 神奈川県
                  </label>
                  <label class="btn btn-primary">
                    <input type="checkbox"> 新潟県
                  </label>
                  <label class="btn btn-primary">
                    <input type="checkbox"> 富山県
                  </label>
                  <label class="btn btn-primary">
                    <input type="checkbox"> 石川県
                  </label>
                  <label class="btn btn-primary">
                    <input type="checkbox"> 福井県
                  </label>
                  <label class="btn btn-primary">
                    <input type="checkbox"> 山梨県
                  </label>
                  <label class="btn btn-primary">
                    <input type="checkbox"> 長野県
                  </label>
                  <label class="btn btn-primary">
                    <input type="checkbox"> 岐阜県
                  </label>
                  <label class="btn btn-primary">
                    <input type="checkbox"> 静岡県
                  </label>
                  <label class="btn btn-primary">
                    <input type="checkbox"> 愛知県
                  </label>
                  <label class="btn btn-primary">
                    <input type="checkbox"> 三重県
                  </label>
                  <label class="btn btn-primary">
                    <input type="checkbox"> 滋賀県
                  </label>
                  <label class="btn btn-primary">
                    <input type="checkbox"> 京都府
                  </label>
                  <label class="btn btn-primary">
                    <input type="checkbox"> 大阪府
                  </label>
                  <label class="btn btn-primary">
                    <input type="checkbox"> 兵庫県
                  </label>
                  <label class="btn btn-primary">
                    <input type="checkbox"> 奈良県
                  </label>
                  <label class="btn btn-primary">
                    <input type="checkbox"> 和歌山県
                  </label>
                  <label class="btn btn-primary">
                    <input type="checkbox"> 鳥取県
                  </label>
                  <label class="btn btn-primary">
                    <input type="checkbox"> 島根県
                  </label>
                  <label class="btn btn-primary">
                    <input type="checkbox"> 岡山県
                  </label>
                  <label class="btn btn-primary">
                    <input type="checkbox"> 広島県
                  </label>
                  <label class="btn btn-primary">
                    <input type="checkbox"> 山口県
                  </label>
                  <label class="btn btn-primary">
                    <input type="checkbox"> 徳島県
                  </label>
                  <label class="btn btn-primary">
                    <input type="checkbox"> 香川県
                  </label>
                  <label class="btn btn-primary">
                    <input type="checkbox"> 愛媛県
                  </label>
                  <label class="btn btn-primary">
                    <input type="checkbox"> 高知県
                  </label>
                  <label class="btn btn-primary">
                    <input type="checkbox"> 福岡県
                  </label>
                  <label class="btn btn-primary">
                    <input type="checkbox"> 佐賀県
                  </label>
                  <label class="btn btn-primary">
                    <input type="checkbox"> 長崎県
                  </label>
                  <label class="btn btn-primary">
                    <input type="checkbox"> 熊本県
                  </label>
                  <label class="btn btn-primary">
                    <input type="checkbox"> 大分県
                  </label>
                  <label class="btn btn-primary">
                    <input type="checkbox"> 宮崎県
                  </label>
                  <label class="btn btn-primary">
                    <input type="checkbox"> 鹿児島県
                  </label>
                  <label class="btn btn-primary">
                    <input type="checkbox"> 沖縄県
                  </label>
                </div>
              </div>
            </div><!-- tab-content -->
          </div><!-- travel-serch -->
        </div><!-- .col-sm-6 -->
      </div><!-- .row -->
    </div><!-- contents -->
  </div><!-- container -->
</div><!-- #plan-list -->
