.plans-list
  - modal_count = 0
  - plans.each do |plan|
    %li.top-list-title
      .plan-info
        %h4= plan[:title]
        .area-tags
          - (plan[:area_tags] || []).each do |tag|
            %span{ name: tag, class: 'label label-default' }= tag
        .comment-cont{title: 'レビュー数'}= plan.comments.count
        .twitter-info
          - if users[plan.provider][plan.uid][:screen_name].present?
            %img{src: users[plan.provider][plan.uid][:image_url], class: 'img-rounded'}/
            .top-screen-name= users[plan.provider][plan.uid][:screen_name]
          - else
            %img{src: 'https://abs.twimg.com/sticky/default_profile_images/default_profile_4_bigger.png', class: 'img-rounded'}/
            .top-screen-name 未登録ユーザ
        %p= plan.created_at.strftime('%Y/%m/%d %H:%M')
        = link_to '', plan
      %a.show-modal{'data-toggle' => 'modal', href: "#top-plan-detail#{modal_count}"} チラ見する
      %div(id="top-plan-detail#{modal_count}" aria-hidden="true" aria-labelledby="myModalLabel" class="modal fade" role="dialog" tabindex="-1")
        .modal-dialog
          #top-modal-content.modal-content
            .modal-header
              %button.close{'aria-hidden' => 'true', 'data-dismiss' => 'modal', type: 'button'} &times;
              %h3.modal-title= plan[:title]
            .modal-body
              .twitter-info
                - if users[plan.provider][plan.uid][:screen_name].present?
                  %img{src: users[plan.provider][plan.uid][:image_url], class: 'img-rounded'}/
                  .top-screen-name= users[plan.provider][plan.uid][:screen_name]
                - else
                  %img{src: 'https://abs.twimg.com/sticky/default_profile_images/default_profile_4_bigger.png', class: 'img-rounded'}/
                  .top-screen-name 未登録ユーザ
              #area-tags
                - if plan
                  - (plan[:area_tags] || []).each do |tag|
                    %span{ name: tag, class: 'label label-default'}= tag
              %h5= simple_format(plan.description)
              #top-plan-block
                %ol#top-my-plan-cards
                  - plan.cards.each do |card|
                    - if card.card_type == 'Hotel' or card.card_type == 'Map' or  card.card_type == 'Touring'
                      %li.sortable-card
                        .hotel-card
                          .longitude= card.longitude
                          .latitude= card.latitude
                          .title
                            %a #{card.title}
                    - elsif card.card_type == 'Time'
                      %li.time-card
                        %hr.time-border
                        .hour
                          .title= card.title
                    - else
                      %li.sortable-card
                        .default-card
                          .title= card.title
            .modal-footer
              - if modal_count != 0
                %a.show-modal{'data-dismiss' => 'modal','data-toggle' => 'modal', href: "#top-plan-detail#{modal_count-1}"} 次
              - if modal_count != plans.count-1
                %a.show-modal{'data-dismiss' => 'modal','data-toggle' => 'modal', href: "#top-plan-detail#{modal_count+1}"} 前
              %button.btn.btn-default{'data-dismiss' => 'modal', type: 'button'} 閉じる
      - modal_count= modal_count + 1
