.plans-list
  - plans.each do |plan|
    %li.top-list-title
      %h4= plan[:title]
      = link_to 'プランを見る', plan
      %p= '作成日' + plan.created_at.strftime('%Y/%m/%d %H:%M')
      %p
        %img{src: plan[:image_url], height: '30', width: '30'}/
        = plan[:screen_name]
      .area-tags
        - (plan[:area_tags] || []).each do |tag|
          %span{ name: tag, class: 'label label-default' }= tag
