#top-page-header.page-header
  .container
    %h1
      オリジナル
      %span.attention プラン
      を作成し、みんなと
      %span.attention 共有
      しよう
  #new-plan-button
    = link_to 'New Plan!', new_plan_path, class: 'btn btn-primary btn-lg'
    %p PC専用
.container
  = render 'sns_button'
  - if flash[:notice]
    .alert.alert-success.alert-dismissable
      %button{ type: 'button', class: 'close', data: {dismiss: 'alert'}, aria: {hiddeen: 'true'} }
        &times;
      =h(flash[:notice])

  %ul.nav.nav-tabs.top-tabs
    %li.active
      %a{'data-toggle' => 'tab', href: '#home'} 全体
    %li
      %a{'data-toggle' => 'tab', href: '#myplans'} 自作

  .tab-content{style: 'margin-top:10px'}
    #home.tab-pane.active
      = render partial: 'plans_list', locals: {plans: @plans.reverse}

    #myplans.tab-pane
      - if !current_user
        %p{ style: 'margin-top: 47px;' }
          = link_to 'Sign in', 'auth/twitter'
        %p= 'Sign inした状態でプランを作成すると、自作タブで自分で作成したプランの一覧を見ることができます'
      - else
        = render partial: 'plans_list', locals: {plans: @my_plans.reverse}
