#top-page-header.page-header
  .container
    %h1
      オリジナル
      %span.attention プラン
      を作成し、みんなに
      %span.attention 共有
      しよう
  #new-plan-button
    = link_to 'New Plan!', new_plan_path, class: 'btn btn-primary btn-lg'
    %p PC専用
.container
  = render 'sns_button'
  - if flash[:notice]
    .alert.alert-success.alert-dismissable
      %button{ type: 'button', class: 'close', data: {dismiss: 'alert'}, aria: {hiddeen: 'true'} }
        &times;
      =h(flash[:notice])

  %ul.nav.nav-tabs.top-tabs
    %li.active
      %a{"data-toggle" => "tab", href: "#home"} 一般
    %li
      %a{"data-toggle" => "tab", href: "#myplans"} 自作

  .tab-content{style: "margin-top:10px"}
    #home.tab-pane.active
      .plans-list
        - if @plans
          - @plans.reverse.each do |plan|
            %li.top-list-title
              %h4= plan[:title]
              = link_to 'プランを見る', plan
              %p= '作成日' + plan.created_at.strftime('%Y/%m/%d %H:%M')
              .area-tags
                - (plan[:area_tags] || []).each do |tag|
                  %span{ name: tag, class: 'label label-default' }= tag
    #myplans.tab-pane
      %p ログインしてください
