<div id="plan-list">
  <div class="navbar-fixed-top">
    <div class="container">
      <%= render 'saveplan_form' %>
    </div><!-- .container -->
  </div> <!-- .navbar-fixed-top -->
  <div class="container">
    <div class="contents">
      <div class="row">
        <div class="col-sm-6">
          <div id="card-search">
            <div class="travel-search">
              <div class="nav-tab-area">
                <% render 'plans/tabs/message' %>
                <% render 'plans/tabs/place' %>
                <% render 'plans/tabs/map' %>
                <% render 'plans/tabs/time' %>
                <% render 'plans/tabs/route' %>
                <% render 'plans/tabs/hotel' %>
                <% render 'plans/tabs/tag' %>
                <ul class="nav nav-tabs">
                  <%= yield :plan_tab_navs %>
                </ul>
              </div>
              <div class="tab-content">
                <%= yield :plan_tab_contents %>
              </div><!-- tab-content -->
            </div><!-- travel-search -->
          </div><!-- #card-search -->
        </div><!-- .col-sm-6 -->

        <div class="col-sm-6" id="sideber-left">
          <div class="plan-detail">
            <ol id="main-card-sortable" class="droptrue">
              <% if @plan %>
              <% @plan.cards.each do |card| %>
              <% if card.card_type == "Hotel" %>
              <li class="ui-state-hotel">
                <span class="title"><%= card.title %></span>
                <span style="visibility: hidden;" class="card_type"><%= card.card_type %></span>
                <span style="visibility: hidden;" class="longitude"><%= card.longitude %></span>
                <span style="visibility: hidden;" class="latitude"><%= card.latitude %></span>
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">x</button>
              </li>
              <% else %>
              <li class="ui-state-default">
                <span class="title"><%= card.title %></span>
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">x</button>
              </li>
              <% end %>
              <% end %>
              <% else %>
              <li class="sortable-card"><div class="ui-state-default"><span class="title">スタートが良ければ、半分は成功したようなものだ</span><button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button></li>
              <% end %>
            </ol>
          </div><!-- .plan-detail -->
        </div><!-- .col-sm-6 -->
      </div><!-- .row -->
    </div><!-- contents -->
  </div><!-- container -->
</div><!-- #plan-list -->
