#new-plan-page
  #new-plan-header.navbar-fixed-top
    .container
      = render 'saveplan_form'

  .container
    .contents
      %span#hidden-btn.btn
      .row
        #create-card-block.col-sm-6
          %h4 マップ
          #map-block
            #map-canvas
          %h4 カード作成
          #card-search
            .nav-tab-area
              - render 'plans/tabs/message'
              - render 'plans/tabs/tag'
              - render 'plans/tabs/place'
              - render 'plans/tabs/map'
              - render 'plans/tabs/map_pin'
              - render 'plans/tabs/time'
              - render 'plans/tabs/hotel'
              - render 'plans/tabs/route_viewer'
              %ul.nav.nav-tabs= yield :plan_tab_navs
            .tab-content
              = yield :plan_tab_contents

        #my-plan-block.col-sm-6
          %h4 あなたのプラン
          .plan-detail
            %ol#new-my-plan-cards.droptrue
              - if @plan
                - @plan.cards.each do |card|
                  - if card.card_type == 'Hotel' or card.card_type == 'Map' or  card.card_type == 'Touring'
                    %li.sortable-card
                      .hotel-card
                        .title= card.title
                        .card_type= card.card_type
                        .longitude= card.longitude
                        .latitude= card.latitude
                        %button.close{ aria: {hidden: 'true'}, data: {dismiss: 'alert'}, type: 'button' } &times;

                  - elsif card.card_type == 'Time'
                    %li.time-card
                      %hr.time-border
                      .hour
                        .title= card.title
                        .card_type= card.card_type
                      %button.close{ aria: {hidden: 'true'}, data: {dismiss: 'alert'}, type: 'button' } &times;

                  - else
                    %li.sortable-card
                      .default-card
                        .title= card.title
                        .card_type= card.card_type
                        .longitude= card.longitude
                        .latitude= card.latitude
                        %button.close{ aria: {hidden: 'true'}, data: {dismiss: 'alert'}, type: 'button' } &times;
              - else
                %li.sortable-card

