.container
  .page-header
    %h1= @plan.title
    %h2= @plan.description
    .col-xs-2.col-sm-2.col-md-3.col-lg-3
      - if @plan
        - (@plan[:area_tags] || []).each do |tag|
          %span{ name: tag, class: 'label label-default'}= tag
  %ol#show-my-plan-cards
    - @plan.cards.each do |card|
      - if card.card_type == 'Hotel'
        %li.sortable-card
          .hotel-card
            .title= card.title
      - elsif card.card_type == 'Time'
        %li.time-card
          %hr.time-border
          .hour
            .title= card.title
      - else
        %li.sortable-card
          .default-card
            .title= card.title
  = link_to plan_path @plan, format: :pdf do
    %button.btn.btn-primary PDF

  %form{ action: new_plan_path, method: 'GET' }
    %input{ type: 'hidden', value: @plan.id, name: 'id' }
    %input{ type: 'submit', value: 'clone', class: 'btn btn-primary' }
