.container
  #start-page-header.page-header
    #carousel-example-generic.carousel.slide{"data-ride" => "carousel"}
      %ol.carousel-indicators
        %li.active{"data-slide-to" => "0", "data-target" => "#carousel-example-generic"}
        %li{"data-slide-to" => "1", "data-target" => "#carousel-example-generic"}
        %li{"data-slide-to" => "2", "data-target" => "#carousel-example-generic"}
      .carousel-inner
        .item.active
          = image_tag 'img-start01.png', class: 'img-thumbnail start-img'
          .carousel-caption
        .item
          = image_tag 'img-start02.png', class: 'img-thumbnail start-img'
          .carousel-caption
        .item
          = image_tag 'img-start03.png', class: 'img-thumbnail start-img'
          .carousel-caption
      %a.left.carousel-control{"data-slide" => "prev", href: "#carousel-example-generic"}
        %span.glyphicon.glyphicon-chevron-left
      %a.right.carousel-control{"data-slide" => "next", href: "#carousel-example-generic"}
        %span.glyphicon.glyphicon-chevron-right
    %h1
      SharePla
    %h4
      あなたのプランをみんなのプランに
    #new-plan-button
      = link_to 'Twitterでログイン', '/auth/twitter', class: 'btn btn-primary btn-lg'
      = link_to 'お試し', plans_path, class: 'btn btn-primary btn-lg'

    #sharepla-img= image_tag 'big-sharepla-img.png'

  = render 'sns_button'
  - if flash[:notice]
    .alert.alert-success.alert-dismissable
      %button{ type: 'button', class: 'close', data: {dismiss: 'alert'}, aria: {hiddeen: 'true'} }
        &times;
      =h(flash[:notice])

