<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charaset="urf-8">
    <title>SharePla</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div id="wrap">
      <%= render 'layouts/header' %> <!-- layout/_header.html.erb -->
      <%= yield %>
      <%= render 'layouts/footer' %><!-- layout/_footer.html.erb -->
    </div>
  </body>
</html>
